<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Edheads</title>
    <link rel="icon" href="/assets/favicon.ico">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/basicPage.css">
    <link rel="stylesheet" href="/css/form.css">

</head>
<body>
<section id="basicPageContainer">
    <div class="signUpContainer">
        <div class="basicPageMain">

            <div class="closeForm"><a href="javascript:history.back()">X</a></div>

            <div class="signUpPageContent">
                <div class="container text-center">

                    <div>
                        <h1 class="signUpTitle">My Profile</h1>
                    </div>
                    <div th:object="${user}">

                        <div class="buttonContainer">
                            <a href="/user/edit">
                                <button class="signUpButton">Edit Profile</button>
                            </a>
                        </div>

                        <div class="accountRowOne">
                            <input type="hidden" th:field="*{id}">
                            <input type="hidden" th:field="*{role}">
                            <input type="hidden" th:field="*{city}">
                            <input type="hidden" th:field="*{state}">
                            <input type="hidden" th:field="*{dateCreated}">
                            <input type="hidden" th:field="*{gameHelpInd}">
                            <input type="hidden" th:field="*{gameFundingInd}">
                            <input type="hidden" th:field="*{socialMediaInd}">
                            <input type="hidden" th:field="*{volunteerInd}">
                            <input type="hidden" th:field="*{approvedByAdmin}">
                        </div>

                        <input class="form-control-readonly" th:field="*{firstName}" readonly>
                        <input class="form-control-readonly" th:field="*{lastName}" readonly>


                        <div class="buttonContainer">
                            <a th:href="@{/user/upload?position=Profile}">
                                <button class="signUpButton">Change Profile Picture</button>
                            </a>
                        </div>
                        <div th:each="image : ${images}">
                            <div th:if="${image.imagePosition == 'Profile'}">
                                <div th:if="${image?.displayData.toString() != null}">
                                    <div class="profileImg">
                                        <img th:src="|data:image/png;base64,${image.displayData.toString()}|"
                                             class="profile">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:if="${profileInd==false}">
                            <div class="profileImg">
                                <img th:src="@{/uploads/users/edheads-no-profile.jpg}" class="profile">
                            </div>
                        </div>

                        <div class="company">
                            Company
                                        <textarea type="text" placeholder="No answer"
                                                  th:field="*{company}" class="form-control-readonly" maxlength="50"
                                                  readonly></textarea>
                        </div>


                        <div class="university">
                            University/College
                                        <textarea type="text" placeholder="No answer"
                                                  th:field="*{university}" class="form-control-readonly" maxlength="200"
                                                  readonly></textarea>
                        </div>


                        <div class="careerTitle">
                            What is your job title? (generic preferred)
                                        <textarea type="text" placeholder="No answer"
                                                  th:field="*{careerTitle}" class="form-control-readonly"
                                                  maxlength="100"
                                                  readonly></textarea>
                        </div>


                        <div class="careerDescription">
                            Please provide summary of your research or job. What is an average day like or duties performed?
                                    <textarea type="text"
                                              placeholder="No answer"
                                              th:field="*{careerDescription}" class="form-control-readonly"
                                              maxlength="5000"
                                              readonly></textarea>
                        </div>


                        <div class="educationDescription">
                            Please provide summary of your research or job. What is an average day like or duties performed?
                                    <textarea type="text"
                                              placeholder="No answer"
                                              th:field="*{educationDescription}" class="form-control-readonly"
                                              maxlength="1000"
                                              readonly></textarea>
                        </div>


                        <div class="careerPathChallenge">
                            What have you struggled with or overcome in your educational or life path to your current job?
                                    <textarea type="text"
                                              placeholder="No answer"
                                              th:field="*{careerPathChallenge}" class="form-control-readonly"
                                              maxlength="2000"
                                              readonly></textarea>
                        </div>


                        <div class="jobBestDescription">
                            What is the best part of your research/job?
                                    <textarea type="text" placeholder="No answer"
                                              th:field="*{jobBestDescription}" class="form-control-readonly"
                                              maxlength="1000"
                                              readonly></textarea>
                        </div>


                        <div class="jobWorstDescription">
                            What is the most challenging/difficult part of your research/job? (please make sure it is
                            related to the actual job function and not the workplace)
                                    <textarea type="text"
                                              placeholder="No answer"
                                              th:field="*{jobWorstDescription}" class="form-control-readonly"
                                              maxlength="1000"
                                              readonly></textarea>
                        </div>

                        <div class="jobExcitingDescription">
                            What is the most exciting part of your job?
                                    <textarea type="text" placeholder="No answer"
                                              th:field="*{jobExcitingDescription}" class="form-control-readonly"
                                              maxlength="1000"
                                              readonly></textarea>
                        </div>

                        <div class="memorableCareerMoment">
                            What is your most memorable career-related moment?
                                    <textarea type="text" placeholder="No answer"
                                              th:field="*{memorableCareerMoment}" class="form-control-readonly"
                                              maxlength="1000"
                                              readonly></textarea>
                        </div>


                        <div class="pastChangeDesc">
                            What has changed about your profession in the past ten years?
                                    <textarea type="text"
                                              placeholder="No answer"
                                              th:field="*{pastChangeDesc}" class="form-control-readonly"
                                              maxlength="1000"
                                              readonly></textarea>
                        </div>


                        <div class="futureChangeDesc">
                            What do you think will change in the next 10 years?
                                    <textarea type="text"
                                              placeholder="No answer"
                                              th:field="*{futureChangeDesc}" class="form-control-readonly"
                                              maxlength="1000"
                                              readonly></textarea>
                        </div>


                        <h2 class="createAccountTitle">Please upload 3-5 images related to your career or industry.</h2>
                        <p>*Accepted file formats: .png, .jpeg, .gif</p>
                        <div class="file">
                            <label path="careerImages">For example, any pictures of you doing field work, lab work, or
                                an interesting activity related to the topic covered in your profile.
                                Or images of graphs, charts, etc. that support your job/research summary would also be
                                suitable.</label>
                        </div>

                        <div>
                            <a th:href="@{/user/upload?position=Career1}">Upload Career Image 1</a>
                        </div>
                        <div th:each="image : ${images}">
                            <div th:if="${image.imagePosition == 'Career1'}">
                                <div th:if="${image?.displayData.toString() != null}">
                                    <a th:href="@{/image/view?image={image}(image=${image.id})}" target="_blank">
                                        <div class="profileImg">
                                            <img th:src="|data:image/png;base64,${image.displayData.toString()}|"
                                                 class="profile">
                                        </div>
                                    </a>
                                    <div th:text="${image.caption}"></div>
                                </div>
                            </div>
                        </div>


                        <div>
                            <a th:href="@{/user/upload?position=Career2}">Upload Career Image 2</a>
                        </div>
                        <div th:each="image : ${images}">
                            <div th:if="${image.imagePosition == 'Career2'}">
                                <div th:if="${image?.displayData.toString() != null}">
                                    <a th:href="@{/image/view?image={image}(image=${image.id})}" target="_blank">
                                        <div class="profileImg">
                                            <img th:src="|data:image/png;base64,${image.displayData.toString()}|"
                                                 class="profile">
                                        </div>
                                    </a>
                                    <div th:text="${image.caption}"></div>
                                </div>
                            </div>
                        </div>


                        <div>
                            <a th:href="@{/user/upload?position=Career3}">Upload Career Image 3</a>
                        </div>
                        <div th:each="image : ${images}">
                            <div th:if="${image.imagePosition == 'Career3'}">
                                <div th:if="${image?.displayData.toString() != null}">
                                    <a th:href="@{/image/view?image={image}(image=${image.id})}" target="_blank">
                                        <div class="profileImg">
                                            <img th:src="|data:image/png;base64,${image.displayData.toString()}|"
                                                 class="profile">
                                        </div>
                                    </a>
                                    <div th:text="${image.caption}"></div>
                                </div>
                            </div>
                        </div>


                        <div>
                            <a th:href="@{/user/upload?position=Career4}">Upload Career Image 4</a>
                        </div>
                        <div th:each="image : ${images}">
                            <div th:if="${image.imagePosition == 'Career4'}">
                                <div th:if="${image?.displayData.toString() != null}">
                                    <a th:href="@{/image/view?image={image}(image=${image.id})}" target="_blank">
                                        <div class="profileImg">
                                            <img th:src="|data:image/png;base64,${image.displayData.toString()}|"
                                                 class="profile">
                                        </div>
                                    </a>
                                    <div th:text="${image.caption}"></div>
                                </div>
                            </div>
                        </div>


                        <div>
                            <a th:href="@{/user/upload?position=Career5}">Upload Career Image 5</a>
                        </div>
                        <div th:each="image : ${images}">
                            <div th:if="${image.imagePosition == 'Career5'}">
                                <div th:if="${image?.displayData.toString() != null}">
                                    <a th:href="@{/image/view?image={image}(image=${image.id})}" target="_blank">
                                        <div class="profileImg">
                                            <img th:src="|data:image/png;base64,${image.displayData.toString()}|"
                                                 class="profile">
                                        </div>
                                    </a>
                                    <div th:text="${image.caption}"></div>
                                </div>
                            </div>
                        </div>


                        <div class="buttonContainer">
                            <a href="/user/edit">
                                <button class="signUpButton">Edit Profile</button>
                            </a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>
