h1{
    color: #cbd543;
    font-size: 2rem;
    font-weight: 900;
    margin: 1.5rem;
}

#basicPageContainer{
    display: flex;
    margin: auto;
    width: 80%;
}

.basicPageContentContainer{
    /*border: .5rem solid #cbd543;*/
    /*border-radius: 1.5rem;*/
    /*height: 80vh;*/
    margin: 3rem 3rem 3rem 0rem;
    /*padding: 1rem;*/
    width: 80%;
}

.basicPageMain{
    border: .5rem solid #cbd543;
    border-radius: 1.5rem;
    /*height: 80vh;*/
    margin-bottom: 2rem;
    padding: 1rem;
}

.basicPageContent{
    height: 50vh;
    line-height: 1.75rem;
    letter-spacing: .0125rem;
    overflow: scroll;
    overflow-x: hidden;
    padding: 0rem 1.5rem;

}

.basicPageContent::-webkit-scrollbar {
    width: .5rem;
}

.basicPageContent::-webkit-scrollbar-track {
    background: none;
}

.basicPageContent::-webkit-scrollbar-thumb {
    background: #cbd543;
    border-radius: .5rem;
}

.basicPageContent::-webkit-scrollbar-thumb:hover {
    background: #cbd543;
}

.accordion {
    background-color: #cbd543;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    transition: 0.4s;
}

/*.active, .accordion:hover {*/
/*    background-color: #ccc;*/
/*}*/

.accordionContent {
    display: none;
    font-size: 1rem;
    overflow: hidden;
    padding: 0rem 2rem 2rem;
}

.accordion:after {
    content: '\02795';
    float: right;
    font-size: 1rem;
}

.active:after {
    content: "\2796";
}

.sideBar {
    background-color: #cbd543;
    padding: 3rem 0;
    width: 300px;
}

.sideBarText{
    padding: .75rem;
}

.sideBarAd{
    height: 250px;
    margin-bottom: 2rem;
    width: 300px;
}