/*BEGIN HEADER STYLING*/
#header {
    background-color: #2cccd3;
    background-image: url("/assets/headerClouds.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: .5rem solid #cbd543;
    display: flex;
    height: 200px;
    justify-content: space-between;
    position: relative;
    width: 100vw;
}

.logoContainer{
    align-items: flex-end;
    display: flex;
    transform: translateX(15%);
}

.logo{
    margin-bottom: .75rem;

}

.logoImg{
    width: 275px;
}

.mainNavContainer{
    align-items: flex-end;
    display: flex;
}

.mainNav{
    display: flex;
    list-style-type: none;
}


.mainNavItem{
    background-color: #cbd543;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    height: 50px;
    margin-left: .75rem;
    padding: .75rem 1rem;
}

.mainNavItem a{
    color: #ffffff;
    text-decoration: none;
}

.weatherGirlContainer{
    align-items: flex-end;
    display: flex;
    transform: translate(-18%, 7%);
}

.weatherGirl{
    /*transform: translate(-22%, 12%);*/
}

.weatherGirlImg{
    width: 450px;
}

/*END HEADER STYLING*/

/*BEGIN SECONDARY NAV STYLING*/

.aboutUsNavContainer{
    justify-content: center;
    display: flex;
    background-color: #cbd543;

}

.aboutUsNav{
    display: flex;
    list-style-type: none;
}


.aboutUsNavItem{
    padding: 1rem 2rem .75rem;
    font-size: 1rem;
}

.aboutUsNavItem a{
    color: #ffffff;
    text-decoration: none;
}

.aboutUsNav a:active{
    border-bottom: solid .125rem;
}

/*END SECONDARY NAV STYLING*/

/*BEGIN FOOTER STYLING*/

#footer {
    background-color: #474747;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.footerText{
    color: #fff;
    font-size:1rem;
    padding: 3rem;
    width: 40%;
}

.footerLinks{
    display: flex;
    padding: 3rem;
}

.socialIcon{
    max-height: 50px;
    margin-right: .5rem;
}

.footerButton{
    background-color: #cbd543;
    border: none;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: .05rem;
    max-height: 50px;
    padding: 1rem 1.5rem;
    text-transform: capitalize;
}

.footerButton a{
    color: #ffffff;
    text-decoration: none;
}

/*END FOOTER STYLING*/
