.stickyHeader{
    position: fixed;
    z-index: 2;
}

header {
    background-color: #2cccd3;
    background-image: url(/assets/headerClouds.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: .5rem solid #cbd543;
    justify-content: space-around;
    position: relative;
    width: 100vw;
}

.headerContents{
    width: 90%;
    margin: 0 auto;
}

.logo{
    position: absolute;
    z-index: 1;
}

.logoImg{
    width:20vw;
}

.mainNavContainer{
    align-items: flex-end;
    display: flex;
    justify-content: center;
}


.mainNav{
    display: flex;
    list-style-type: none;
}

.mainNavItem{
    background-color: #cbd543;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    margin-left: .75rem;
    padding: .75rem 2rem;
    text-transform: uppercase;
    white-space: nowrap;
}

.mainNavItem a{
    color: #474747;
    text-decoration: none;
}

.mainNavItem a:hover{
    font-weight: 900;
}

.mainNavItem.active a{
    font-weight: 900;
}

.active:after{
    display: none;
}

.topNav{
    display: flex;
    justify-content: end;
}

.topNavItem{
    background-color: #cbd543;
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
    font-size: 1rem;
    margin-left: .75rem;
    padding: .5rem 1rem;
    text-transform: uppercase;
    white-space: nowrap;
}

.topNavItem a{
    color: #474747;
    text-decoration: none;
}

.topNavItem a:hover{
    font-weight: 900;
}

.logoWG{
    transform: translate(-2vw, 1vw);
}

.logoImgWG{
    width:15vw;
}

/*secondary nav*/
.secondaryNavContainer{
    background-color: #cbd543;
    width: 100vw;

}

.secondaryNav{
    display: flex;
    list-style-type: none;
    margin: auto;
    width: 80%;
}
.secondaryNavItem{
    font-size: 1rem;
    padding: 1rem 2rem .75rem;
    text-transform: uppercase;
    white-space: nowrap;
}

.secondaryNavItem a{
    color: #474747;
    text-decoration: none;
}

.secondaryNavItem a:hover{
    border-bottom: solid .125rem;
}

.secondaryNavItem.active a{
    border-bottom: #474747 solid .125rem;
}
