.signUpContainer {
    margin: 3rem auto;
    width: 80%;
}

.signUpPageContent {
    /* height: 50vh; */
    /* line-height: 1.75rem; */
    letter-spacing: .0125rem;
    /* overflow: scroll; */
    /* overflow-x: hidden; */
    /* padding: 0rem 1.5rem; */
    /* text-align: center;
     */

}