<!DOCTYPE html>

<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){window.dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'GA_MEASUREMENT_ID');
    </script>
    <meta charset="UTF-8">
    <title>Our Games</title>
    <link rel="stylesheet" href="/css/main.css">
<!--    <link rel="stylesheet" href="/css/nav.css">-->
    <link rel="stylesheet" href="/css/basicPage.css">
    <link rel="stylesheet" href="/css/allGamesView.css">

    <script src="components/header.js" type="text/javascript" defer></script>
    <script src="components/footer.js" type="text/javascript" defer></script></head>

<body>
<header-component></header-component>

<main>
<section id="basicPageContainer">
    <div class="titleContainer">
        <h1 class="gamesPageTitle">Our Games</h1>

    <div class="gamesPageContentContainer">

        <div class="tileContent">
            <a href="/nano-start-up"><img src="/assets/nanoStartUp.jpg" alt="Scene from the Nano Start Up game." class="gameImg"></a>
        <div class="gameText">
            <h2>Nano Start Up</h2>
            <p>Grades: 5-8</p>
            <p>Nano Start Up is a science game for students (kids) to research
                and develop a business plan for a nanoparticle.
            </p>
        </div>
        </div>

        <div class="tileContent">
            <a href="/manufacturing-technician"><img src="/assets/manufacturingTech.jpg"
                                                     alt="Scene from the Manufacturing Technician game." class="gameImg"></a>
            <div class="gameText">
                <h2>Manufacturing Technician</h2>
                <p>Grades: 5-8</p>
                <p>Manufacturing Technician is a math game for students (kids) to learn what
                    happens on the manufacturing line and troubleshooting,
                    maintaining and repairing equipment.
                </p>
            </div>
        </div>

        <div class="tileContent">
            <a href="/manufacturing-quiz"><img src="/assets/manufacturingQuiz.jpg" alt="Scene from the
             Manufacting Quiz." class="gameImg"></a>
            <div class="gameText">
                <h2>Manufacturing Quiz</h2>
                <p>Grades: 10-12</p>
                <p>Test your knowledge of modern manufacturing!
                </p>
            </div>
        </div>

        <div class="tileContent">
            <a href="/simple-machines"><img src="/assets/simpleMachines.jpg"
                                            alt="Scene from the Simple Machines game." class="gameImg"></a>
            <div class="gameText">
                <h2>Simple Machines</h2>
                <p>Grades: 2-6</p>
                <p>Simple Machines is a science game for students
                    to identify simple machines around the house and simple
                    machines that make up compound machines in the tool shed.
                </p>
            </div>
        </div>
    </div>
    </div>


    <div class="sideBar">
        <!--        <div class="sideBarText">Sidebar Text</div>-->
<!--        <div>-->
<!--            <img src="/assets/AdPlaceholder300x250.jpg" alt="" class="sideBarAd">-->
<!--        </div>-->

<!--        <div>-->
<!--            <img src="/assets/AdPlaceholder300x250.jpg" alt="" class="sideBarAd">-->
<!--        </div>-->
    </div>

</section>

</main>
<footer-component></footer-component>

</body>
</html>
