<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/basicPage.css">
    <link rel="stylesheet" href="/css/form.css">

    <!--    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />-->
    <!--    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>-->
    <!--    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>-->
</head>
<body>
<section id="basicPageContainer">
    <div class="signUpContainer">
        <div class="basicPageMain">

            <div class="closeForm"><a href="/welcome">X</a></div>

            <div class="signUpPageContent">
                <div class="container text-center">

                    <div>
                        <h1 class="signUpTitle">Welcome to Edheads!</h1>
                    </div>

                    <form th:action="@{/register_professional}" th:object="${user}"
                          method="post"
                          enctype="multipart/form-data">

                        <div class="m-3">
                            <h2 class="createAccountTitle">Create Your Account</h2>
                            <p>Please note: Professional profiles require review by Edheads prior to being available to view on the site.</p>
                        </div>

                        <div class="accountRowOne">
                            <div class="firstName">
                                <input type="text" placeholder="First Name" th:field="*{firstName}"
                                       class="form-control"
                                       required minlength="1" maxlength="20"/>
                            </div>

                            <div class="lastName">
                                <input type="text" placeholder="Last Name" th:field="*{lastName}"
                                       class="form-control"
                                       required minlength="1" maxlength="20"/>
                            </div>
                        </div>

                        <div class="accountRowTwo">
                            <div class="email">
                                <input type="email" placeholder="Email" th:field="*{email}"
                                       class="form-control" required/>
                            </div>

                            <div class="password">
                                <input type="password" placeholder="Choose a password (min: 6 characters)"
                                       th:field="*{password}" class="form-control"
                                       required minlength="6" maxlength="20"/>
                            </div>
                        </div>


                        <h2 class="createAccountTitle">Please upload a primary image for your profile.</h2>
                        <p>*Accepted file formats: .png, .jpeg, .gif</p>
                        <div class="file">
                            <label path="profileImage">Profile image:</label>
                            <input type="file" name="file" accept="image/png, image/gif, image/jpeg">
                        </div>

                        <h2 class="createAccountTitle">Please tell us more about yourself.</h2>

                        <div class="questionsRowOne">
                            <div class="formLabel">
                                <label>I am a... </label>
                            </div>
                            <div class="dropdown">
                                <select type="text" name="role" th:field="*{role}" class="form-control" required>
                                    <option selected="selected" value="Professional">STEM Professional</option>
                                </select>
                            </div>
                        </div>

                        <div class="company">
                                        <textarea type="text" placeholder="Company"
                                                  th:field="*{company}" class="form-control" maxlength="50"
                                                  required></textarea>
                        </div>

                        <div class="university">
                                        <textarea type="text" placeholder="University/College"
                                                  th:field="*{university}" class="form-control" maxlength="50"
                                                  required></textarea>
                        </div>

                        <div class="careerTitle">
                                        <textarea type="text" placeholder="What is your job title? (generic preferred)"
                                                  th:field="*{careerTitle}" class="form-control" maxlength="50"
                                                  required></textarea>
                        </div>

                        <div class="careerDescription">
                                    <textarea type="text"
                                              placeholder="Please provide summary of your research or job. What is an average day like or duties performed?"
                                              th:field="*{careerDescription}" class="form-control" maxlength="5000"
                                              required></textarea>
                        </div>

                        <div class="educationDescription">
                                    <textarea type="text"
                                              placeholder="What is your education background and what prompted you to go in this career direction?"
                                              th:field="*{educationDescription}" class="form-control" maxlength="1000"
                                              required></textarea>
                        </div>

                        <div class="careerPathChallenge">
                                    <textarea type="text"
                                              placeholder="What have you struggled with or overcome in your educational or life path to your current job?"
                                              th:field="*{careerPathChallenge}" class="form-control" maxlength="2000"
                                              required></textarea>
                        </div>

                        <div class="jobBestDescription">
                                    <textarea type="text" placeholder="What is the best part of your research/job?"
                                              th:field="*{jobBestDescription}" class="form-control" maxlength="1000"
                                              required></textarea>
                        </div>

                        <div class="jobWorstDescription">
                                    <textarea type="text"
                                              placeholder="What is the most challenging/difficult part of your research/job? (please make sure it is related to the actual job function and not the workplace)"
                                              th:field="*{jobWorstDescription}" class="form-control" maxlength="1000"
                                              required></textarea>
                        </div>

                        <div class="jobExcitingDescription">
                                    <textarea type="text" placeholder="What is the most exciting part of your job?"
                                              th:field="*{jobExcitingDescription}" class="form-control" maxlength="1000"
                                              required></textarea>
                        </div>

                        <div class="memorableCareerMoment">
                                    <textarea type="text" placeholder="What is your most memorable career-related moment?"
                                              th:field="*{memorableCareerMoment}" class="form-control" maxlength="1000"
                                              required></textarea>
                        </div>

                        <div class="pastChangeDesc">
                                    <textarea type="text"
                                              placeholder="What has changed about your profession in the past ten years?"
                                              th:field="*{pastChangeDesc}" class="form-control" maxlength="1000"
                                              required></textarea>
                        </div>

                        <div class="futureChangeDesc">
                                    <textarea type="text"
                                              placeholder="What do you think will change in the next 10 years?"
                                              th:field="*{futureChangeDesc}" class="form-control" maxlength="1000"
                                              required></textarea>
                        </div>

                        <h2 class="createAccountTitle">Please upload 3-5 images related to your career or industry.</h2>
                        <p>*Accepted file formats: .png, .jpeg, .gif</p>
                        <div class="file">
                            <label path="careerImages">For example, any pictures of you doing field work, lab work, or
                                an interesting activity related to the topic covered in your profile.
                                Or images of graphs, charts, etc. that support your job/research summary would also be
                                suitable.</label>
                            <input type="file" name="files" mutiple accept="image/png, image/gif, image/jpeg">
                        </div>


                        <h2 class="createAccountTitle">Additional Information (this information will NOT be visible on
                            the website and will not be shared with anyone outside of Edheads):</h2>
                        <div class="questionsRowThree">
                            <div class="city">
                                <input type="text" placeholder="City" th:field="*{city}"
                                       class="form-control"/>
                            </div>

                            <div class="state">
                                <input type="text" placeholder="State" th:field="*{state}"
                                       class="form-control"/>
                            </div>
                        </div>

                        <p>Would you be willing to help Edheads with game concepts related to your career? (A game
                            concept takes 1.5-3 hours of your time to produce.)</p>
                        <div>
                            <input type="radio" id="gameHelpYes" name="gameHelpInd" value="true">
                            <label for="gameHelpYes">Yes</label>
                        </div>
                        <div>
                            <input type="radio" id="gameHelpNo" name="gameHelpInd" value="false">
                            <label for="gameHelpNo">No</label>
                        </div>

                        <p>Would you be willing to approach your company about funding for Edheads games, operation
                            support, or a specific game concept we have worked on together?</p>
                        <div>
                            <input type="radio" id="fundingYes" name="gameFundingInd" value="true">
                            <label for="fundingYes">Yes</label>
                        </div>
                        <div>
                            <input type="radio" id="fundingNo" name="gameFundingInd" value="false">
                            <label for="fundingNo">No</label>
                        </div>

                        <p>Would you be willing to interact with teachers and students through Edheads' social
                            media?</p>
                        <div>
                            <input type="radio" id="socialMediaYes" name="socialMediaInd" value="true">
                            <label for="socialMediaYes">Yes</label>
                        </div>
                        <div>
                            <input type="radio" id="socialMediaNo" name="socialMediaInd" value="false">
                            <label for="socialMediaNo">No</label>
                        </div>

                        <p>Would you be willing to volunteer for Edheads brainstorming sessions or events?</p>
                        <div>
                            <input type="radio" id="volunteerYes" name="volunteerInd" value="true">
                            <label for="volunteerYes">Yes</label>
                        </div>
                        <div>
                            <input type="radio" id="volunteerNo" name="volunteerInd" value="false">
                            <label for="volunteerNo">No</label>
                        </div>
                        <div class="buttonContainer">
                            <p>Please note: Professional profiles require review by Edheads prior to being available to view on the site.</p>
                            <button type="submit" class="signUpButton">Sign Up</button>
                            <div class="logInLink">Already a member?
                                <a href="/login">
                                    Log In </a></div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>
