<!DOCTYPE html>

<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){window.dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'GA_MEASUREMENT_ID');
    </script>
    <meta charset="UTF-8">
    <title>Donate</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/basicPage.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <script src="components/header.js" type="text/javascript" defer></script>
    <script src="js/activeNav.js" type="text/javascript" defer></script>    <script src="js/accordion.js" defer></script>
    <script src="components/footer.js" type="text/javascript" defer></script>

</head>
<body>
<header-component></header-component>
<main>


<section id="basicPageContainer">

    <div class="basicPageContentContainer">
        <div class="basicPageMain">
            <h1>Make a Donation</h1>
            <div class="basicPageContent">
                <p>Thanks for considering a donation to Edheads!
                    We are still setting up our payment processing system
                    for this web site, but you can donate through Facebook.
                    Plus, no credit card fees are taken out, if you donate through
                    <a href="https://www.facebook.com/Edheads">
                        Facebook</a>, and you can choose a one-time donation or set up
                    ongoing monthly donations.
                  <p>Thanks for supporting our mission of tying
                    school to work and promoting STEM careers!</p>
                </p>
            </div>
        </div>

    </div>
    <div class="sideBar">
        <!--        <div class="sideBarText">Sidebar Text</div>-->
<!--        <div>-->
<!--            <img src="/assets/AdPlaceholder300x250.jpg" alt="" class="sideBarAd">-->
<!--        </div>-->

<!--        <div>-->
<!--            <img src="/assets/AdPlaceholder300x250.jpg" alt="" class="sideBarAd">-->
<!--        </div>-->
    </div>

</section>
<footer-component></footer-component>
</main>
</body>
</html>
