<!DOCTYPE html>

<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){window.dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'GA_MEASUREMENT_ID');
  </script>
  <meta charset="UTF-8">
  <title>Get Involved</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/basicPage.css">
  <link rel="stylesheet" href="/css/getInvolved.css">
  <link rel="stylesheet" href="/css/singleGameView.css">

  <script src="components/header.js" type="text/javascript" defer></script>
  <script src="js/accordion.js" defer></script>
  <script src="components/footer.js" type="text/javascript" defer></script>

</head>
<body>
<header-component></header-component>
<main>


<section id="singleGameContainer">
  <div class="singleGameContentContainer">
    <h1>Get Involved</h1>

    <img src="/assets/edheadsGroup.png" alt="" class="gameImg">

    <div class="singleGameContent" style="margin: 0;">
      <!--            <img src="/assets/game1.jpg" alt="" class="gameImg">-->
      <h2 class="getInvolvedH2">You can support Edheads in a wide variety of ways!</h2>

      <p>Donate to convert Flash games to HTML5, or to support the company.
      </p>

      <p>Sponsor a page, an event or a section of content on our web site.
        Edheads reaches millions of students each year, making your sponsorship dollar go a long way!
    </p>

      <p>Volunteer for Edheads!  Help us meet our mission to interest a wide variety of
        students in STEM careers by volunteering to help with events, content, fundraising,
        administration or in other ways.  Check out our volunteer listings on volunteermatch.org,
        when you get to the page, search under ‘Edheads’ to see all our listings. </p>

      <p>Or, share your ideas of how to help Edheads meet our mission of steering K12
        students toward STEM careers! </p>

      <p><a href = "mailto: info@edheads.org">Email us at
        info@edheads.org to learn more.</a>
      </p>

    </div>

  </div>
  <div class="sideBar">
    <!--        <div class="sideBarText">Sidebar Text</div>-->
<!--    <div>-->
<!--      <img src="/assets/AdPlaceholder300x250.jpg" alt="" class="sideBarAd">-->
<!--    </div>-->

<!--    <div>-->
<!--      <img src="/assets/AdPlaceholder300x250.jpg" alt="" class="sideBarAd">-->
<!--    </div>-->
  </div>

</section>


  <footer-component></footer-component>
</main>
</body>
</html>
