<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>

<h1>Hello, I will soon be a customized login page</h1>
<h2>With several inputs...</h2>

<form name='login' th:action="@{/login}" method='post'>

    <label>
        <input type="text" placeholder="userName" name="username">
    </label>
    <label>
        <input type="text" placeholder="password" name="password">
    </label>
    <button type="submit">Submit</button>
</form>




</body>
</html>
