<!DOCTYPE html>

<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){window.dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'GA_MEASUREMENT_ID');
  </script>
  <meta charset="UTF-8">
  <title>Manufacturing Quiz</title>
  <link rel="icon" href="/assets/favicon.ico">

  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/basicPage.css">
  <link rel="stylesheet" href="/css/singleGameView.css">


  <script src="js/game.js" defer></script>
  <script src="js/accordion.js" defer></script>
  <script src="components/footer.js" type="text/javascript" defer></script>

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '387795396444479');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
                 src="https://www.facebook.com/tr?id=387795396444479&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->

</head>
<body>
<div class="stickyHeader">
  <header>
    <div class="headerContents">
      <div class="topNav">
        <ul class="mainNav">
          <li class="topNavItem"><a href="/donate">Donate</a></li>
          <li class="topNavItem"><a href="/login">Log In</a></li>
          <li class="topNavItem"><a href="/sign-up">Sign Up</a></li>
        </ul>
      </div>
      <div class="logo">
        <img src="/assets/ed_logo.png" alt="Edheads logo" class="logoImg">
      </div>

      <div class=""> </div>

      <div class="mainNavContainer">
        <ul class="mainNav">
          <li sec:authorize="isAuthenticated()" class="mainNavItem"><a href="/teachers">Teachers</a></li>
          <li class="mainNavItem" style="margin-left: 1rem;"><a href="/welcome">Welcome</a></li>
          <li class="mainNavItem"><a href="/about-us">About Us</a></li>
          <li class="mainNavItem active"><a href="/our-games">Our Games</a></li>
          <li class="mainNavItem"><a href="/donate">More Fun Stuff!</a></li>
          <li class="mainNavItem"><a href="/get-involved">Get Involved</a></li>
        </ul>
        <div class="logoWG">
          <img src="/assets/weatherhead.PNG" alt="Edheads Weathergirl Mascot" class="logoImgWG">
        </div>
      </div>
    </div>
  </header>
</div>
  <main>

<section id="singleGameContainer">

  <div class="singleGameContentContainer">
    <div class="backNav"><a href="/our-games">Back to Games</a> </div>

    <h1>Manufacturing Quiz</h1>

    <div class="gameImageContainer">

      <a href="http://edheads2.org/mquiz/story.html" onclick="return openwindow('http://edheads2.org/mquiz/story.html')">
        <img src="/assets/manufacturingQuizPlay.jpg" alt="Scene from the Manufacturing Quiz with play button." class="gameImg">
      </a>
      <div class="sponsorTag">
        <a href="/get-involved"> Sponsor This Game!</a>
      </div>
    </div>

    <div class="singleGameContent">
      <p class="pHead">Grades: 10-12</p>
      <p>Test your knowledge of modern manufacturing!
      </p>
    </div>

<!--    <div class="sponsorContainer">-->
<!--      <div class="sponsorContent"> OHIO LOGOS WILL GO HERE</div>-->
<!--    </div>-->


    <div class="accordion">Want to Know More About Manufacturing as a Career?
    </div>
    <div class="accordionContent">
      <p>Play Edheads’Manufacturing Technician Game</p>
      <p>Do an internet search for ‘tech camps,’ ‘manufacturing camps,’ or computer or robotics camps.
        All of these provide skills used in manufacturing. In Columbus, Ohio,
        check out TechCorps, which holds full-day, weeklong summer
        “Techie Camps” where middle-school students are able to immerse
        themselves in activities such as computer programming, and web and app
        development. <a href="https:www.twenty.techcorps.org">twenty.techcorps.org</a>
      </p>

      <p>Talk to your teachers or guidance counselors about entering a technical
        training course aimed at a manufacturing career, such as a Fab Lab course or Manufacturing Pathway.</p>

      <p>After high school, pursue an associate degree in Manufacturing or Mechanical
        Engineering Technology from local college institutions (In Ohio: Rhodes State,
        Columbus State, Marion Technical, Edison Community, Sinclair Community and Clark State).</p>

      <p>Ask about a work-study pilot program allows students the opportunity to work at
        Honda or some other manufacturing plant three days a week, while taking classes
        two days. You can build technical skills while earning your degree.
        Honda is expanding their program in the future, and many other manufacturers have similar programs.</p>

      <p>Ask about certification programs at local career skills centers.
        Many of these centers now provide classes and certifications that allow you to
        leave high school already employed.
      </p>
    </div>

  </div>

  <div class="sideBar">
    <!--        <div class="sideBarText">Sidebar Text</div>-->
    <div class="sideBarAd">
      <script src="//ap.lijit.com/www/delivery/fpi.js?z=331605&width=300&height=250"></script>
      <!--            <img src="/assets/AdPlaceholder300x250.jpg" alt="" class="sideBarAd">-->
    </div>

    <div class="sideBarAd">
      <script src="//ap.lijit.com/www/delivery/fpi.js?z=596345&width=300&height=250"></script>
      <!--            <img src="/assets/AdPlaceholder300x250.jpg" alt="" class="sideBarAd">-->
    </div>

    <div sec:authorize="isAuthenticated()" class="buttonContainer">
      <a href="/welcome">View Teacher Resources</a>
    </div>

  </div>

</section>


  <footer-component></footer-component>
</main>
</body>
</html>
