<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section id="header">

  <div class="logoContainer">
    <div class="logo">
      <img src="/assets/ed_logo.png" alt="" class="logoImg">
    </div>
  </div>

  <!--<div class="navWithWeathergirl">-->
  <div class="mainNavContainer">
    <ul class="mainNavLeft">
      <li class="mainNavItem activeNav"><a href="/welcome">Welcome</a></li>
      <li class="mainNavItem"><a href="/about-us">About Us</a></li>
      <li class="mainNavItem"><a href="/our-games">Our Games</a></li>
      <!--            <li class="mainNavItemGetInvolved"><a href="/get-involved">Get Involved</a></li>-->
      <!--            <li class="mainNavItem"><a href="#">Donate</a></li>-->
    </ul>

    <div class="weatherGirlContainer">
      <div class="weatherGirl">
        <img src="/assets/weatherGirlWithBanner.png" alt="" class="weatherGirlImg">
      </div>
      <div class="bannerText"><a href="/about-us">Log In</a> or <a href="/about-us">Sign Up!</a></div>
    </div>

    <ul class="mainNavRight">
      <li class="mainNavItem"><a href="/get-involved">Get Involved</a></li>
      <li class="mainNavItem"><a href="#">Donate</a></li>
    </ul>
    <!--    </div>-->

    <!--    <div class="weatherGirlContainer">-->
    <!--        <div class="weatherGirl">-->
    <!--            <img src="/assets/weatherGirlWithBanner.png" alt="" class="weatherGirlImg">-->
    <!--        </div>-->
    <!--        <div class="bannerText"><a href="/about-us">Log In</a> or <a href="/about-us">Sign Up!</a></div>-->
    <!--    </div>-->
  </div>
  <!--</div>-->

</section>


<div class="secondaryNavContainer">
  <ul class="secondaryNav">
    <li class="secondaryNavItem"><a href="/faq">FAQ's</a></li>
    <li class="secondaryNavItem"><a href="/awards">Awards</a></li>
    <li class="secondaryNavItem"><a href="/privacy">Privacy</a></li>
    <li class="secondaryNavItem"><a href="/terms-of-use">Terms of Use</a></li>
    <li class="secondaryNavItem"><a href="/activity-help">Activity Help</a></li>
  </ul>
</div>


</body>
</html>


<section id="footer">
  <div class="footerText">
    <p>Edheads is a non-profit that creates unique,
      free Web experiences to promote STEM education.
    </p>
  </div>

  <div class="footerLinks">
    <a href="https://www.facebook.com/Edheads">
      <img src="/assets/facebook.png" alt="" class="socialIcon"></a>
    <a href="https://twitter.com/Edheadsdotorg">
      <img src="/assets/twitter.png" alt="" class="socialIcon"></a>
    <a href="https://www.linkedin.com/company/edheads">
      <img src="/assets/instagram.png" alt="" class="socialIcon"></a>
    <a href="https://www.pinterest.com/edheads/_created/">
      <img src="/assets/pinterest.png" alt="" class="socialIcon"></a>
    <a href="https://www.youtube.com/user/Edheadsorg">
      <img src="/assets/youTube.png" alt="" class="socialIcon"></a>
    <button class="footerButton"><a href="#">Make a Donation</a></button>
  </div>

</section>