<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Teacher Resources</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/basicPage.css">
    <link rel="stylesheet" href="/css/teacherResources.css">


    <script src="js/navHeightMaker.js" defer></script>
    <script src="js/accordion.js" defer></script>


</head>
<body>

<section id="header">
    <div class="logoContainer">
        <div class="logo">
            <img src="/assets/ed_logo.png" alt="" class="logoImg">
        </div>
    </div>
    <div class="mainNavContainer">

        <div class="weatherGirlContainer">
            <div class="weatherGirl">
                <img src="/assets/weatherGirlWithBanner.png" alt="" class="weatherGirlImg">
            </div>
            <div class="bannerText"><a href="/login">Log In</a> or <a href="/sign-up">Sign Up!</a></div>
        </div>
        <ul class="mainNavLeft" id="mainNavLeft">
            <li sec:authorize="isAuthenticated()" class="mainNavItem"><a href="/teachers">Teachers</a></li>
            <li class="mainNavItem"><a href="/welcome">Welcome</a></li>
            <li class="mainNavItem"><a href="/about-us">About Us</a></li>
            <li class="mainNavItem" style="margin-right: 2rem"><a href="/our-games">Our Games</a></li>
            <li class="mainNavItem" style="margin-left: 2rem"><a href="/get-involved">Get Involved</a></li>
            <li class="mainNavItem"><a href="/donate">Donate</a></li>
        </ul>
    </div>
</section>


<section id="basicPageContainer">

    <div class="basicPageContentContainer">
        <div class="basicPageMain">
            <h1>Teacher Resources</h1>
            <div class="basicPageContent">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Etiam tristique, ex ut tincidunt ullamcorper, sapien lorem viverra eros, ac lobortis massa
                    risus ut massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Etiam tristique, ex ut tincidunt ullamcorper, sapien lorem viverra eros, ac lobortis massa
                    risus ut massa.</p>
            </div>
        </div>
        <!--        start teacher accordion-->
        <div class="accordion">Nano Start Up
        </div>
        <div class="accordionContent">
            <p class="pHeadOrange">Recommended Grade Levels: 2-6
            </p>

            <div class="nestedAccordion">Nested Accordion Title
            </div>

            <div class="accordionContent">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Etiam tristique, ex ut tincidunt ullamcorper, sapien lorem viverra eros, ac lobortis massa
                    risus ut massa.
                </p>
            </div>
        </div>
        <!--        end nested teacher accordion-->
        <!--        start teacher accordion-->
        <div class="accordion">Manufacturing Technician
        </div>
        <div class="accordionContent">
            <p class="pHeadOrange">Recommended Grade Levels: 5-8
            </p>

            <div class="nestedAccordion">Tips for using the site with students
            </div>

            <div class="accordionContent">
                <p>Before using this activity in class (or at home), go through the activity
                    once to make sure it works correctly on your computer(s) or devices.
                    Please be aware that this game is in HTML5, which is not stable across
                    browsers and platforms.
                </p>
                <p>Your computer or devices will need to have some sort of sound output.
                    Either speakers or headphones will work well. The majority of this
                    activity has voice audio. We highly recommend headphones or ear
                    buds in a classroom setting. Students with hearing impairments can
                    read the text at the bottom of the screen. If you are having difficulty
                    hearing the audio, check the audio settings on your computer or device.
                </p>
                <p>The worksheet is highly recommend for this activity and is available
                    for <a href="#">download</a>. If a teacher prefers not to use the worksheet,
                    he/she should make this clear to the students, as the game refers
                    to the worksheet numerous time.
                </p>
                <p>Students in the target grade-range will take approximately
                    35 - 40 minutes to complete the entire activity.</p>
            </div>
            <div class="nestedAccordion">Assessment Tools
            </div>
            <div class="accordionContent">
                <p>Teachers may want to have students put their names on the worksheets
                    and turn them in, which should indicate if students completed the
                    assigned activity. There is also a quiz that can be given.
                </p>
                <p><a href="#">Student Worksheet</a></p>
                <p><a href="#">Ten-question Quiz</a></p>
                <p><a href="#">Key to worksheet</a></p>
                <p><a href="#">Key to quiz</a></p>
            </div>

            <div class="nestedAccordion">Discussion Questions
            </div>
            <div class="accordionContent">
                <p>When Jerome was troubleshooting the reason the manufacturing line stopped,
                    why did he spend so much time checking fuses, talking to Hailey and looking
                    at the timing when he already thought it was the limit switch?</p>

                   <p class="pText"> <span class="pHead">Answer:</span> Troubleshooting involves checking
                       a variety of possibilities before narrowing in on a problem. For most companies
                       and industries, there is almost always a recommended set of steps to figure out why
                    something is wrong. Jerome was checking EVERYTHING to make sure that
                    there were not multiple reasons why the line stopped, and, as he
                    mentions several times, it’s always best to be thorough.
                </p>
                <p>What are some advantages to troubleshooting the way Jerome was doing it?</p>

                <p class="pText"> <span class="pHead">Answer:</span> Because of Jerome’s thoroughness,
                    he is certain that the reason the line stopped cannot be anything other than the
                    limit switch. Also, by checking fuses, talking to Hailey, checking timing and
                    generally taking a good look at all the pieces and parts of the line, he is able
                    to see what might need maintaining or replacing BEFORE it stops the line and
                    costs the company money. He can be more proactive instead of reactive in his job.
                    He’s also able to determine if Hailey knows her job or he could recommend to her
                    supervisor that she might need more training.
                </p>
                <p>If it is important to get the line started again and expensive ($3,000 - $4,000 an hour,
                    or $50 - $66 per MINUTE the line is not working using the Edheads' figures in the game)
                    when it stops, why did Jerome take so long to troubleshoot the problem?</p>

                <p class="pText"> <span class="pHead">Answer:</span> While it may or may not have
                    been true in this instance, Jerome and his supervisors know that skipping steps
                    and missing problems is even more expensive in the long run. In this case, if he
                    went straight to the limit switch and ignored timing when there really was a problem,
                    then starting the line up again could have caused problems that impacted machinery,
                    damaged engine blocks, or even hurt the line operators. Jerome checked everything
                    carefully, even though it took time, so that when the line was started up again,
                    he could be confident that everything was working at it should have been.
                </p>
                <p>Why does Jerome carry around a list of tolerances for various types of switches and
                    equipment? Why would a company that produces switches even take the time to test
                    and research that information and come up with recommended tolerances?</p>

                <p class="pText"> <span class="pHead">Answer:</span>As we saw after installing
                    the new limit switch, not everything is perfect all the time. The new switch
                    was 5 degrees off the horizontal (the arm would only travel from 90 degrees down
                    to 5 degrees instead of going all the way to zero degrees). It’s important when
                    working in a manufacturing plant (or almost any job), to know what is
                    ‘good enough’ and what is not. The new limit switch, while not perfect,
                    is good enough to get the job done and keep the line moving. If Jerome
                    had spent time trying to make the switch perfect (travel down to zero degrees
                    all the time), he would have cost the company quite a bit of money without
                    changing anything of significance. In other words, the return on that investment
                    of time would not have been worth anything to the company and would have
                    prevented the line from checking more engine blocks. Most careers and types
                    of businesses have standards and/or tolerances they need to meet.
                </p>
                <p>Why does Jerome carry around a list of tolerances for various types of switches and
                    equipment? Why would a company that produces switches even take the time to test
                    and research that information and come up with recommended tolerances?</p>

                <p class="pTextLast"> <span class="pHead">Answer:</span>As we saw after installing
                    the new limit switch, not everything is perfect all the time. The new switch
                    was 5 degrees off the horizontal (the arm would only travel from 90 degrees down
                    to 5 degrees instead of going all the way to zero degrees). It’s important when
                    working in a manufacturing plant (or almost any job), to know what is
                    ‘good enough’ and what is not. The new limit switch, while not perfect,
                    is good enough to get the job done and keep the line moving. If Jerome
                    had spent time trying to make the switch perfect (travel down to zero degrees
                    all the time), he would have cost the company quite a bit of money without
                    changing anything of significance. In other words, the return on that investment
                    of time would not have been worth anything to the company and would have
                    prevented the line from checking more engine blocks. Most careers and types
                    of businesses have standards and/or tolerances they need to meet.
                </p>
            </div>

            <div class="nestedAccordion">Writing activity
            </div>
            <div class="accordionContent">
                <p>Jerome was required to write a succinct summary of what occurred on
                    section E12 of the line when it stopped, but we never saw what was in his report.
                    Have your students summarize what happened in their own words, with a goal of
                    being both thorough (what might other technicians need to know?) and brief,
                    without skipping anything that might help the company. As a further extension,
                    have them justify what they have included and what they have excluded from their summary.
                </p>
                <p>This activity is about manufacturing lines. People in the US don’t think about
                    manufacturing as being a ‘good’ career choice any more, but it is a
                    great career! Modern manufacturing is sometimes referred to as
                    ‘skilled manufacturing.’ Assign your students a research
                    project to determine:
                <ul class="accordionList">
                <li>What sorts of skills are needed on manufacturing lines today?
                </li>
                <li>What general types of certifications are required and how
                    long does it take to get these certifications?
                </li>
                <li>What is starting pay for someone with a job like Hailey’s as a manufacturing
                    line operator? (our research indicates over $50,000 a year with a high school diploma!)
                </li>
                <li>What is starting pay for someone with a job like Jerome’s as a manufacturing technician?
                    (our research indicates over $70,000 a year with a 2 year associates degree!)
                </li>
                <li>Skilled manufacturing jobs exist all over the country. What are some examples
                    of companies or plants near your school that have such jobs? What do they
                    make and what job openings do they have right now?
                </li>
            </ul>

                </p>
            </div>
            <div class="nestedAccordion">Ladder Logic Exercise
            </div>
            <div class="accordionContent">
                <p>Download the ladder logic diagram seen in the troubleshooting section of the game.</p>
                <p>Ladder Logic Exercise Key</p>

            </div>
        </div>
        <!--        end nested teacher accordion-->
        <!--        start teacher accordion-->
        <div class="accordion">Manufacturing Quiz
        </div>
        <div class="accordionContent">
            <p class="pHeadOrange">Recommended Grade Levels: 2-6
            </p>

            <div class="nestedAccordion">Nested Accordion Title
            </div>

            <div class="accordionContent">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Etiam tristique, ex ut tincidunt ullamcorper, sapien lorem viverra eros, ac lobortis massa
                    risus ut massa.
                </p>
            </div>
        </div>
        <!--        end nested teacher accordion-->

        <div class="accordion">Simple Machines
        </div>
        <div class="accordionContent">
            <p class="pHeadOrange">Recommended Grade Levels: 2-6
            </p>

            <div class="nestedAccordion">Tips for using the site with students
            </div>

            <div class="accordionContent">
                <p>Before using this activity in class (or at home with your kids) go
                    through the activity once to make sure it works correctly on your computer(s).
                </p>
                <p>If the activity does not load after clicking the 'start' button, you may be asked
                    to download a Flash Player from Adobe.com. Please click yes as this allows you to
                    view the Edheads Simple Machines activity. If you are using school computers,
                    you might need to contact your tech support team to download the Flash Player.</p>
                <p>If you are using an iPad or other iDevice, our games will not play without
                    downloading an app or browser. We recommend the Puffin Academy browser,
                    that is a moderated site limited to educational content for teachers and
                    families to use. The Puffin Academy browser is FREE to
                    <a href="https://www.puffin.com/">download</a> and use.</p>
                <p>Your computer(s) will need to have some sort of sound output.
                    Either speakers or headphones will work well.</p>
                <p>Students in the target grade-range will take approximately eight to ten minutes
                    per room working individually or in groups of two to three. Students seemed
                    to spend more time and have more fun working in small groups. If time is
                    limited, you may want to consider assigning a certain number of rooms
                    or specific areas for the students to experience. The House is
                    identifying simple machines and the Tool Shed is identifying the simple
                    machines that make up compound machines.</p>
                <hr>
                <p>Students have the ability to print their scores
                    after finishing all four rooms in the House and the Tool Shed.
                    Teachers should make certain they know which printers the students’
                    computers are set to print to.</p>
                <hr>
                <p>During testing, most students finished each room at roughly the same time.
                    All the students printing at the same time could potentially back up in a
                    very long print queue or clog the school’s network. Teachers may want to
                    consider having students call out when they want to print, limiting the
                    number of rooms students will print scores for or having students
                    use multiple printers.</p>
                <p>The purpose of the printable score sheet is to give teachers an idea
                    of how students are performing within the site and what their knowledge
                    level is. Many students prefer to go through a room two to three times in order
                    to increase their scores. Teachers may choose to ask that students only print
                    the scores from their first time through a room.
                </p>
                <p>After students use the site, teachers may want to discuss with their class why
                    certain objects were simple machines. Leading questions such as “Would the fan
                    blades work as well if they were flat instead of tilted?” will get students
                    thinking about WHY the blades of a fan can be considered inclined planes.
                    Many students will ask questions about the same objects and this can generate
                    excellent classroom discussion about the characteristics of the various
                    simple machines.</p>
            </div>
            <div class="nestedAccordion">Printable activities for use in class
            </div>

            <div class="accordionContent">
                <p>These downloadable activities are in Adobe PDF Format. In order to read these
                        files you must have Acrobat Reader which is FREE to
                    <a href="https://get.adobe.com/reader/">download</a> and use.</p>
                <p class="pHead">Pre and post Test</p>
                <p>
                    <a href="#">Download the Simple Machines Pre-Test</a><br>
                    <a href="#">Download the Simple Machines Post-test </a></p>

                <p>While the new Ohio Academic Content Standards for Science no longer specifically
                    mention Simple Machines, there are many standards that can be met by teaching
                    Simple Machines or using them to illustrate the various concepts outlined below.
                    he standards below could be met or expanded upon by the Simple Machines
                    activities on the Edheads site.</p>

            </div>
            <div class="nestedAccordion">Physical Science Standards
            </div>
            <div class="accordionContent">
                <p class="pHead">Grade 1</p>
                <p>Explain or predict the motion of an object.</p>
                <p>Explore the effects of some objects on other objects,
                    even when the two objects might not touch.</p>
                <p>Investigate a variety of ways of making things move and
                    what causes them to change speed, direction and/or stop.</p>
                <p class="pHead">Grade 3</p>
                <p>Explain how objects are put into motion by pushes or pulls and
                    the change in motion depends on the strength of the push or pull.</p>

            </div>

            <div class="nestedAccordion">Science and Technology
            </div>
            <div class="accordionContent">
                <p class="pHead">Grade K</p>
                <p>Develop an understanding that the use of tools
                    and machines can be helpful or harmful.
                </p>
                <p>Know that each kind of tool has a special purpose.</p>

                <p class="pHead">Grade 1</p>
                <p>Know that when parts are put together they can do things that
                    they could not do by themselves.</p>
                <p>Investigate that tools are used to help make things and some
                    things cannot be made without tools.</p>

                <p class="pHead">Grade 6</p>
                <p>Know that decisions about the use of products and systems
                    can result in desirable or undesirable consequences.</p>
            </div>
            <div class="nestedAccordion">Scientific Inquiry
            </div>
            <div class="accordionContent">
                <p class="pHead">Grade 1</p>
                <p>Work in a small group, then share findings with others.</p>
            </div>

            <div class="nestedAccordion">Scientific Ways of Knowing
            </div>
            <div class="accordionContent">
                <p class="pHead">Grade K</p>
                <p>Recognize that people are more likely to accept your ideas if you can
                    give good reasons for them.</p>
            </div>

            <div class="nestedAccordion">Physical Sciences
            </div>
            <div class="accordionContent">
                <p class="pHead">Grade 2</p>
                <p>Tools and machines are used to apply pushes and pulls
                    (forces) to make things move.</p>

                <p class="pHead">Grade 3</p>
                <p>Machines and living things convert stored energy to motion and heat.</p>

            </div>

            </div>


    </div>
    <div class="sideBar">
        <!--        <div class="sideBarText">Sidebar Text</div>-->
        <div>
            <img src="/assets/AdPlaceholder300x250.jpg" alt="" class="sideBarAd">
        </div>

        <div>
            <img src="/assets/AdPlaceholder300x250.jpg" alt="" class="sideBarAd">
        </div>
    </div>

</section>


<section id="footer">
    <div class="footerText">
        <p>Edheads is a non-profit that creates unique,
            free Web experiences to promote STEM education.
        </p>
    </div>

    <div class="footerLinks">
        <a href="https://www.facebook.com/Edheads">
            <img src="/assets/facebook.png" alt="" class="socialIcon"></a>
        <a href="https://twitter.com/Edheadsdotorg">
            <img src="/assets/twitter.png" alt="" class="socialIcon"></a>
        <a href="https://www.linkedin.com/company/edheads">
            <img src="/assets/instagram.png" alt="" class="socialIcon"></a>
        <a href="https://www.pinterest.com/edheads/_created/">
            <img src="/assets/pinterest.png" alt="" class="socialIcon"></a>
        <a href="https://www.youtube.com/user/Edheadsorg">
            <img src="/assets/youTube.png" alt="" class="socialIcon"></a>
        <button class="footerButton"><a href="/donate">Make a Donation</a></button>
    </div>

</section>
</body>
</html>
