<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Edheads</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/basicPage.css">
    <link rel="stylesheet" href="/css/form.css">

</head>
<body>
<section id="basicPageContainer">
    <div class="signUpContainer">
        <div class="basicPageMain">

            <div class="closeForm"><a href="/welcome">X</a></div>

            <div class="signUpPageContent">
                <div class="container text-center">

                    <div>
                        <h1 class="signUpTitle">Edit STEM Professional</h1>
                    </div>
                    <form th:action="@{/stem-careers/edit}" th:object="${user}"
                          method="post">

                        <div class="accountRowOne">
                            <input type="hidden" th:field="*{id}">

                            <div class="approvedByAdmin">
                                Approved By Admin: <input type="text"  th:field="*{approvedByAdmin}"
                                       class="form-control"
                                       required minlength="1" maxlength="50" />
                            </div>

                        </div>

                        <div class="careerTitle">
                                    <textarea type="text"
                                              th:field="*{careerTitle}" class="form-control" required></textarea>
                        </div>

                        <div class="careerDescription">
                                    <textarea type="text"
                                              th:field="*{careerDescription}" class="form-control" required></textarea>
                        </div>

                        <div class="buttonContainer">
                            <button type="submit" class="signUpButton">Submit</button>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>
