<!DOCTYPE html>

<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){window.dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'GA_MEASUREMENT_ID');

    </script>
    <meta charset="UTF-8">
    <title>Edheads</title>
    <link rel="icon" href="/assets/favicon.ico">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/basicPage.css">
    <link rel="stylesheet" href="/css/allGamesView.css">

    <script src="/js/accordion.js" defer></script>
    <script src="components/footer.js" type="text/javascript" defer></script>
</head>

<body>
<div class="stickyHeader">
    <header>
        <div class="headerContents">
            <div class="headerContents">
                <div sec:authorize="!isAuthenticated()" class="topNav">
                    <ul class="mainNav">
                        <li class="topNavItem"><a href="/donate">Donate</a></li>
                        <li class="topNavItem"><a href="/login">Log In</a></li>
                        <li class="topNavItem"><a href="/sign-up">Sign Up</a></li>
                    </ul>
                </div>
                <div sec:authorize="isAuthenticated()" class="topNav">
                    <ul class="mainNav">
                        <li class="topNavItem"><a href="/donate">Donate</a></li>
                        <li sec:authorize="isAuthenticated()" class="topNavItem"><a href="/user">My Profile</a></li>
                        <li class="topNavItem">
                            <form name='logout' th:action="@{/logout}" method='post'>
                                <button class="topNavItem" type="submit">Log Out</button>
                            </form>
                        </li>
                    </ul>
                </div>
            <div class="logo">
                <img src="/assets/ed_logo.png" alt="Edheads logo" class="logoImg">
            </div>

            <div class=""></div>

            <div class="mainNavContainer">
                <ul class="mainNav">
                    <li sec:authorize="isAuthenticated()" class="mainNavItem"><a href="/teachers">Teachers</a></li>
                    <li class="mainNavItem" style="margin-left: 1rem;"><a href="/welcome">Welcome</a></li>
                    <li class="mainNavItem"><a href="/about-us">About Us</a></li>
                    <li class="mainNavItem"><a href="/our-games">Our Games</a></li>
                    <li class="mainNavItem  active"><a href="/more-fun-stuff">More Fun Stuff!</a></li>
                    <li class="mainNavItem"><a href="/get-involved">Get Involved</a></li>
                </ul>
                <div class="logoWG">
                    <img src="/assets/weatherhead.PNG" alt="Edheads Weathergirl Mascot" class="logoImgWG">
                </div>
            </div>
        </div>
    </header>
</div>
<main>
    <section id="basicPageContainer">
        <div class="basicPageContentContainer">
            <div class="basicPageMain">
                <h1>STEM Professionals</h1>
            </div>
            <!--        start professional accordion-->

            <div th:each="career : ${careers}">
                <div th:text="${career.firstName + ' ' + career.lastName + ' - ' + career.careerTitle}"
                     class="accordion">
                </div>
                <div class="accordionContent">
                    <div class="profileTop">
                        <div th:each="image : ${career.images}">
                            <div th:if="${image.imagePosition == 'Profile'}">
                                <div th:if="${image?.displayData.toString() != null}">
                                    <div class="profileImg">
                                        <img th:src="|data:image/png;base64,${image.displayData.toString()}|"
                                             th:alt="${career.lastName}"
                                             class="profile">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:if="${career.profileImageInd != true}">
                            <div class="profileImg">
                                <img th:src="@{/uploads/users/edheads-no-profile.jpg}" class="profile">
                            </div>
                        </div>
                    <div class="profileDetails">
                    <p class="pHeadOrange" th:text="@{Keywords: {keywords}(keywords=${career.keywords})}">
                    </p>
                    <p class="pHeadOrange" th:text="${career.company}">
                    </p>
                    <p class="pHeadOrange" th:text="${career.university}">
                    </p>
                    </div>
                    </div>

                    <div th:if="${(career.careerDescription != null) && (career.careerDescription != '')}">
                        <div class="nestedAccordion">Career Description
                        </div>
                        <div class="accordionContent">
                            <p th:text="${career.careerDescription}">
                            </p>
                        </div>
                    </div>
                    <div th:if="${(career.educationDescription != null) && (career.educationDescription != '')}">
                        <div class="nestedAccordion">What is your educational background and motivation to pursue your
                            field of study?
                        </div>
                        <div class="accordionContent">
                            <p th:text="${career.educationDescription}">
                            </p>
                        </div>
                    </div>
                    <div th:if="${(career.careerPathChallenge != null) && (career.careerPathChallenge != '')}">
                        <div class="nestedAccordion">What have you struggled with or overcome in your educational or
                            life path to your current job?
                        </div>
                        <div class="accordionContent">
                            <p th:text="${career.careerPathChallenge}">
                            </p>
                        </div>
                    </div>
                    <div th:if="${(career.jobBestDescription != null) && (career.jobBestDescription != '')}">
                        <div class="nestedAccordion">What is the best part of your job or research?
                        </div>
                        <div class="accordionContent">
                            <p th:text="${career.jobBestDescription}">
                            </p>
                        </div>
                    </div>
                    <div th:if="${(career.jobWorstDescription != null) && (career.jobWorstDescription != '')}">
                        <div class="nestedAccordion">What is the worst part of your job or research?
                        </div>
                        <div class="accordionContent">
                            <p th:text="${career.jobWorstDescription}">
                            </p>
                        </div>
                    </div>
                    <div th:if="${(career.jobExcitingDescription != null) && (career.jobExcitingDescription != '')}">
                        <div class="nestedAccordion">What is the most exciting part of your job?
                        </div>
                        <div class="accordionContent">
                            <p th:text="${career.jobExcitingDescription}">
                            </p>
                        </div>
                    </div>
                    <div th:if="${(career.memorableCareerMoment != null) && (career.memorableCareerMoment != '')}">
                        <div class="nestedAccordion">What is your most memorable career-related moment?
                        </div>
                        <div class="accordionContent">
                            <p th:text="${career.memorableCareerMoment}">
                            </p>
                        </div>
                    </div>
                    <div th:if="${(career.pastChangeDesc != null) && (career.pastChangeDesc != '')}">
                        <div class="nestedAccordion">What has changed about your profession in the past ten years?
                        </div>
                        <div class="accordionContent">
                            <p th:text="${career.pastChangeDesc}">
                            </p>
                        </div>
                    </div>
                    <div th:if="${(career.futureChangeDesc != null) && (career.futureChangeDesc != '')}">
                        <div class="nestedAccordion">What do you think will change in your industry in the next ten
                            years?
                        </div>
                        <div class="accordionContent">
                            <p th:text="${career.futureChangeDesc}">
                            </p>
                        </div>
                    </div>
                    <div th:if="${career.careerImageInd == true}">
                        <div class="nestedAccordion">View my career-related images!
                        </div>
                        <div class="accordionContent">
                            <div th:each="image : ${career.images}">
                                <div th:if="${image.imagePosition != 'Profile'}">
                                    <div th:if="${image?.displayData.toString() != null}">
                                        <a th:href="@{/image/view?image={image}(image=${image.id})}" target="_blank">
                                            <div class="profileImg">
                                                <img th:src="|data:image/png;base64,${image.displayData.toString()}|"
                                                     class="profile">
                                            </div>
                                        </a>
                                        <div th:text="${image.caption}"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!--        end nested professional accordion-->
            </div>
        </div>
    </section>

</main>
<footer-component></footer-component>

</body>
</html>
