<!DOCTYPE html>

<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){window.dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'GA_MEASUREMENT_ID');
    </script>
    <meta charset="UTF-8">
    <title>Edheads - STEM Professionals</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/basicPage.css">
    <link rel="stylesheet" href="/css/allGamesView.css">


    <script src="components/footer.js" type="text/javascript" defer></script></head>

<body>
<div class="stickyHeader">
    <header>
        <div class="headerContents">
            <div sec:authorize="!isAuthenticated()" class="topNav">
                <ul class="mainNav">
                    <li class="topNavItem"><a href="/login">Log In</a></li>
                    <li class="topNavItem"><a href="/sign-up">Sign Up</a></li>
                </ul>
            </div>
            <div sec:authorize="isAuthenticated()" class="topNav">
                <ul class="mainNav">
                    <li class="topNavItem">
                        <form name='logout' th:action="@{/logout}" method='post'>
                            <button class="topNavItem" type="submit">Log Out</button>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="logo">
                <img src="/assets/ed_logo.png" alt="Edheads logo" class="logoImg">
            </div>

            <div class=""> </div>

            <div class="mainNavContainer">
                <ul class="mainNav">
                    <li sec:authorize="isAuthenticated()" class="mainNavItem"><a href="/teachers">Teachers</a></li>
                    <li class="mainNavItem" style="margin-left: 1rem;"><a href="/welcome">Welcome</a></li>
                    <li class="mainNavItem"><a href="/about-us">About Us</a></li>
                    <li class="mainNavItem active"><a href="/our-games">Our Games</a></li>
                    <li class="mainNavItem"><a href="/get-involved">Get Involved</a></li>
                    <li class="mainNavItem"><a href="/donate">Donate</a></li>
                </ul>
                <div class="logoWG">
                    <img src="/assets/weatherhead.PNG" alt="Edheads Weathergirl Mascot" class="logoImgWG">
                </div>
            </div>
        </div>
    </header>
</div>
<main>
    <section id="basicPageContainer">
        <div class="titleContainer">
            <h1 class="gamesPageTitle">STEM Professionals</h1>
            <a th:href = "@{/career_signup}" class="addButton">+ Add STEM Professional </a>
            <div class="gamesPageContentContainer">
                    <table border="1">
                        <thead>
                            <tr>
                                <th>
                                        Professional First Name
                                </th>
                                <th>
                                        Professional Last Name
                                </th>
                                <th>
                                        Professional Email
                                </th>
                                <th>
                                    Keywords
                                </th>
                                <th>
                                        Approved by Admin?
                                </th>
                                <th> Update </th>
                                <th> Display on Site </th>
                                <th> Game Help </th>
                                <th> Game Funding </th>
                                <th> Social Media </th>
                                <th> Volunteer </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="career : ${careers}">
                                <td th:text="${career.firstName}"></td>
                                <td th:text="${career.lastName}"></td>
                                <td th:text="${career.email}"></td>
                                <td th:text="${career.keywords}"></td>
                                <td th:text="${career.approvedByAdmin}"></td>
                                <td>
                                    <a th:href="@{/stem-careers/{id}/edit(id=${career.id})}">Update</a>
                                </td>
                                <td>
                                    <div th:if="false == ${career.approvedByAdmin}">
                                        <form th:action="@{/stem-careers/{id}/approve(id=${career.id})}" th:object="${user}"
                                              method="post">
                                            <button type="submit" class="addButton">Approve</button>
                                        </form>
                                    </div>
                                    <div th:if="true == ${career.approvedByAdmin}">
                                        <form th:action="@{/stem-careers/{id}/disable(id=${career.id})}" th:object="${user}"
                                              method="post">
                                            <button type="submit" class="deleteButton">Disable</button>
                                        </form>
                                    </div>
                                </td>
                                <td th:text="${career.gameHelpInd}"></td>
                                <td th:text="${career.gameFundingInd}"></td>
                                <td th:text="${career.socialMediaInd}"></td>
                                <td th:text="${career.volunteerInd}"></td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>

    </section>

</main>
<footer-component></footer-component>

</body>
</html>
