<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Edheads</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/basicPage.css">
    <link rel="stylesheet" href="/css/form.css">

    <!--    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />-->
    <!--    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>-->
    <!--    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>-->
</head>
<body>
<section id="basicPageContainer">
    <div class="signUpContainer">
        <div class="basicPageMain">

            <div class="closeForm"><a href="/welcome">X</a></div>

            <div class="signUpPageContent">
                <div class="container text-center">

                    <div>
                        <h1 class="signUpTitle">New Game</h1>
                    </div>

                    <form th:action="@{/games}" th:object="${game}"
                          method="post">
                        <div class="m-3">
                            <h2 class="createAccountTitle">Add Game Details</h2>
                        </div>

                        <div class="accountRowOne">
                            <div class="gameTitle">
                                <input type="text" placeholder="Game Title"   th:field="*{gameTitle}"
                                       class="form-control"
                                       required minlength="1" maxlength="50" />
                            </div>

                            <div class="targetGradeRange">
                                <input type="text" placeholder="Target Grade Range"  th:field="*{targetGradeRange}"
                                       class="form-control"
                                       required minlength="1" maxlength="50" />
                            </div>
                        </div>

                        <div class="gameDescription">
                                    <textarea type="text" placeholder="Game Description"
                                              th:field="*{gameDescription}" class="form-control" required></textarea>
                        </div>

                        <div class="buttonContainer">
                            <button type="submit" class="signUpButton">Submit</button>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>
